<div class="header-category">
  <%= image_tag  "bg-pizza.jpg", class: "img-category" %>
</div>
<section class="content" style="padding:0px;">

  <div class="row">
  

    <div class="col-md-12">
    

      <div class="box box-warning">

        <div class="box-body" style="padding: 10px 20px;">
          
          <div class="row">

            <% @pizzas.each do |pizza| %>
              
              <div class="col-md-4">
            
                <figure class="item-menu">

                  <%= image_tag  "pizza1.png" %>
                  <div>
                    <h1 class="figName"><%= pizza.name %></h1>
                    <p><%= pizza.description %></p>
                    <h2><%= pizza.price %></h2>
                  </div>
                  <ul class="figOption">
                    <li><%= link_to 'Show', pizza %></li>
                    <li><%= link_to 'Edit', edit_pizza_path(pizza) %></li>
                    <li><%= link_to 'Destroy', pizza, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  </ul>
                  
                </figure>

              </div>

            <% end %>

          </div>
          
        </div>

      </div>

    </div>
  
  </div>

  <%= link_to ' + ', new_pizza_path, class: "add-button" %>

</section>
